.root {
  margin: auto;
  width: 600px;
  border-radius: 10px;
  background-color: #fff;
  padding: 50px 85px;
  text-align: center;

  p {
    margin-top: 50px;

    a {
      color: #2196f3;
    }
  }
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.submitBtn {
  width: 100%;
  border-radius: 5px;
  padding: 17px 20px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to left, #74ebd5, #9face6);
  cursor: pointer;
}
