.container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/img/main-bg.jpg") no-repeat center center/cover;
}
